#!/usr/bin/make -f

GO_VERSION = 1.3.2
PACKAGE = goenv-go-$(GO_VERSION)
GOENV_DIR = /usr/lib/goenv/versions/$(GO_VERSION)

%:
	dh $@

override_dh_install:
	rm -f debian/install
	for file in $$(ls); do \
		if [ "$$file" = "debian" ]; then \
			continue; \
		fi; \
		echo "$${file} $(GOENV_DIR)" >> debian/install; \
	done
	dh_install --fail-missing
	# Touch built and installed files and directories to have same timestamp
	touch $(CURDIR)/debian/$(PACKAGE)$(GOENV_DIR)/pkg
	find $(CURDIR)/debian/$(PACKAGE)$(GOENV_DIR)/pkg \
		-exec touch -r $(CURDIR)/debian/$(PACKAGE)$(GOENV_DIR)/pkg {} \;

override_dh_strip:
	# strip disabled as golang upstream doesn't support it and it makes go
	# crash. See http://bugs.debian.org/717172

override_dh_shlibdeps:
	dh_shlibdeps -Xtestdata -Xtest
