#!/usr/bin/make -f

%:
	dh $@

DEST = "debian/elasticsearch"

override_dh_install:
	mkdir -p $(DEST)/etc/elasticsearch
	mkdir -p $(DEST)/usr/share/elasticsearch
	mkdir $(DEST)/usr/share/elasticsearch/bin
	mkdir -p $(DEST)/usr/share/elasticsearch/lib/sigar

	cp -r bin $(DEST)/usr/share/elasticsearch/bin
	cp lib/*.jar $(DEST)/usr/share/elasticsearch/lib/
	cp lib/sigar/*.jar $(DEST)/usr/share/elasticsearch/lib/sigar/
	cp *.txt *.textile $(DEST)/usr/share/elasticsearch/
	cp config/* $(DEST)/etc/elasticsearch/

	dh_install --list-missing
