Source: goenv-go-1.4.1
Maintainer: Alex Tomlins <alex.tomlins@digital.cabinet-office.gov.uk>
Section: devel
Priority: optional
Homepage: http://golang.org/
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7.4.10)

Package: goenv-go-1.4.1
Architecture: amd64
Depends: goenv, ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends},
Description: Go version for use with goenv
 Specific version of Go for use with a system install of goenv.
