#!/bin/sh

set -e

case $(uname -m) in
  'i686'    ) arch=i386; dld=i586;;
  'x86_64'  ) arch=amd64; dld=x64;;
  *         )
    echo "Please report to author unsupported platform '`uname -m`'.";
    echo "Proceeding without web browser plugin support";
    arch='';
esac

JAVA_VERSION=7u9 #must be modified for each release
FILENAME=jdk-${JAVA_VERSION}-linux-${dld}.tar.gz
case $(uname -m) in
  'i686'    ) SHA256SUM_TGZ="47e86ceb7f59c821a8d0c54f34530bca84e10c1849ed46da7f4fdb5f621bc8d6";; #must be modified for each release
  'x86_64'  ) SHA256SUM_TGZ="1b39fe2a3a45b29ce89e10e59be9fbb671fb86c13402e29593ed83e0b419c8d7";; #must be modified for each release
  *         )
    echo "Please report to author unsupported platform '`uname -m`'.";
    echo "Proceeding without web browser plugin support";
esac
PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/7u9-b05/$FILENAME #must be modified for each release!!!
J_INSTALL_DIR=/usr/lib/jvm/java-7-oracle
J_DIR=jdk1.7.0_09 #must be modified for each release

. /usr/share/debconf/confmodule

db_get oracle-java7-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java7-installer/local /var/cache/oracle-jdk7-installer

db_get oracle-java7-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java7-installer/local /usr/lib/oracle-jdk7-installer-unpackdir

db_get oracle-java7-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset oracle-java7-installer/local 

while true; do
    db_input medium oracle-java7-installer/local || true
    db_go
    db_get oracle-java7-installer/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset oracle-java7-installer/not_exist || true
    db_reset oracle-java7-installer/local || true
    db_text medium oracle-java7-installer/not_exist || true
    db_go
done

exit 0
