Source: golang-gom
Section: devel
Priority: optional
Maintainer: Alex Tomlins <alex.tomlins@digital.cabient-office.gov.uk>
Build-Depends: debhelper (>= 8.0.0), golang-go (>= 2:1.1)
Standards-Version: 3.9.5
Homepage: https://github.com/mattn/gom

Package: golang-gom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dependency tool for Go
