#!/usr/bin/make -f

export GOPATH=$(CURDIR)
export GOBIN=$(CURDIR)/debian/gor/usr/bin
export VERSION="0.10.1"

%:
	dh $@

# Skip dh_auto_build so that Gor Makefile is not invoked
# as it relies on docker which complicates our build
# process.
override_dh_auto_build:
	mkdir -p src/github.com/buger/
	ln -s ../../../ src/github.com/buger/gor
	go build -o gor -ldflags "-X main.VERSION $(VERSION)"
