Source: phantomjs
Section: web
Priority: extra
Maintainer: Alex Tomlins <alex.tomlins@digital.cabinet-office.gov.uk>
Build-Depends: debhelper (>= 8.0.0), libfreetype6-dev, libfontconfig1-dev, libz-dev
Standards-Version: 3.9.3
Homepage: http://phantomjs.org/

Package: phantomjs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: minimalistic headless WebKit-based with JavaScript API
 PhantomJS is a headless WebKit with JavaScript API. It has fast and native
 support for various web standards: DOM handling, CSS selector, JSON, Canvas,
 and SVG.
 .
 PhantomJS is an optimal solution for headless testing of web-based
 applications, site scraping, pages capture, SVG renderer, PDF converter
 and many other use cases.
