Source: rbenv-ruby-2.1.8
Maintainer: Dean Wilson <dean.wilson@digital.cabinet-office.gov.uk>
Section: interpreters
Priority: optional
Homepage: http://www.ruby-lang.org/
Standards-Version: 3.9.5
Build-Depends: debhelper (>=7), autotools-dev, libffi-dev, libssl-dev, libreadline6-dev, libyaml-dev, zlib1g-dev

Package: rbenv-ruby-2.1.8
Architecture: any
Depends: rbenv, ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Suggests: ${shlibs:Suggests}
Description: Ruby version for use with rbenv
 Specific version of Ruby for use with a system install of rbenv.
