Source: statsd
Section: devel
Priority: optional
Maintainer: Alex Tomlins <alex.tomlins@digital.cabinet-office.gov.uk>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8.0.0)
Homepage: https://github.com/etsy/statsd

Package: statsd
Architecture: all
Depends: nodejs (>= 0.4), adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Simple daemon for easy stats aggregation
 A network daemon that runs on the Node.js platform and listens for statistics,
 like counters and timers, sent over UDP and sends aggregates to one or more
 pluggable backend services (e.g., Graphite).
